adminAssets
plugins

galleria/themes/classic/classic-demo.html
galleria/themes/classic/classic-demo-cdn.html
galleria/themes/classic/galleria.classic.css
galleria/themes/classic/galleria.classic.min.css
galleria/themes/classic/galleria.classic.js
galleria/themes/classic/galleria.classic.min.js